.search-books {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 5em 50px;
  align-items: center;
}
.search-books--form {
  display: flex;
}
.search-books--form .form-group {
  margin: 0 10px 0 0;
}
.search-books--form input {
  min-width: 400px;
}

.search-books--form button {
  padding-left: 25px;
  padding-right: 25px;
  align-self: flex-start;
}
.books-list {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}
.book {
  padding: 0 15px;
  margin-bottom: 30px;
}
.book--description {
  max-height: 140px;
  margin-top: 10px;
  font-size: 12px;
  overflow: auto;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}
.pagination > li {
  cursor: pointer;
}

.pagination > li > a {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: hotpink;
  background-color: #fff;
  border: 1px solid #dee2e6;
  text-decoration: none;
}
.pagination > li.active > a {
  z-index: 1;
  color: #fff;
  background-color: hotpink;
}
.paginate-section {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 5em 50px;
  align-items: center;
}
.form-control:focus {
  border-color: hotpink !important;
  box-shadow: 0 0 0 0.1rem hotpink;
}
.card-price {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
/* new cs */
.book-search{
  text-align: center;
  padding-left:25%;
  padding-right:25%

}
.book-card:hover{
   box-shadow: 0 2px 12px 0 rgba(0,0,0,.1)
}